html, body, :not([style*="background-color:"]) {
    background-image: none;
    background: none;
    background-color: #1c1f21 !important
}

html, body, :not([style*="color:"]) {
    color: #a89e8b !important
}

h1:not([style*="color:"]), h2:not([style*="color:"]), h3:not([style*="color:"]), h4:not([style*="color:"]), h5:not([style*="color:"]), h6:not([style*="color:"]) {
    color: #be926d !important
}

cite:not([style*="color:"]) {
    color: #8ac593 !important
}

input:not([style*="background-color:"]), textarea:not([style*="background-color:"]), button:not([style*="background-color:"]), [role=button] {
    background-color: #2d3944 !important
}

input:not([style*="background-color:"]):hover, textarea:not([style*="background-color:"]):hover, button:not([style*="background-color:"]):hover, [role=button]:hover {
    background-color: #2a3e52 !important
}

input:not([style*="background-color:"]):active, input:not([style*="background-color:"]):focus, textarea:not([style*="background-color:"]):active, textarea:not([style*="background-color:"]):focus, button:not([style*="background-color:"]):active, button:not([style*="background-color:"]):focus, [role=button]:active, [role=button]:focus {
    background-color: #294057 !important
}

a:not([style*="color:"]) {
    color: #89b3c0 !important
}

a:not([style*="color:"]):hover {
    color: #94bed0 !important
}

a:not([style*="color:"]):active, a:not([style*="color:"]):focus {
    color: #a0cae0 !important
}

:not([style*="border-color:"]), ::before, ::after {
    border-color: #5b7682 !important
}

div:empty {
    background-color: #1c1f21 !important
}

input::placeholder, textarea::placeholder {
    color: #a89e8b !important
}

input:not([style*="background-image:"]), textarea:not([style*="background-image:"]) {
    background-image: none !important
}

svg * {
    stroke: #a89e8b !important
}

i#dark-reader-icon {
    color: #be926d !important
}