@model string
@using Library.PublicModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Library

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<form asp-controller="Book" asp-action="DeleteBook">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader
    {
        Heading = "حذف کتاب"
    })
    
    
    <div class="modal-body form-horizontal text-right">
  آیا از حذف کتاب   @Model مطمن هستید ؟ 
    </div>
    
    
    @await Html.PartialAsync("_ModalFooter", new ModalFooter
    {
        SubmitButtonText = "حذف کتاب"
    })
</form>

