@model string
@using Library.PublicModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Library

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<form asp-controller="Author" asp-action="DeleteAuthor">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader
    {
        Heading = "حذف نویسنده"
    })
    
    
    <div class="modal-body form-horizontal text-right">
  آیا از حذف نویسنده   @Model مطمن هستید ؟ 
    </div>
    
    
    
    @await Html.PartialAsync("_ModalFooter", new ModalFooter
    {
        SubmitButtonText = "حذف نویسنده"
    })
</form>

