<div id="NewsPartial">
    <span class="div-header">آخرین اخبار</span>
    <div class="hr"></div>
    <div>
        <a href="#">
            <img src="images/pic-small1.jpg"/>
            <span class="spannews">افراد موفق در زندگی چگونه اند</span>
        </a>
        <div class="minihr"></div>
        <a href="#">
            <img src="images/pic-small2.jpg"/>
            <span class="spannews">تاثیر هوش مصنوعی در زندگی ماشینی</span>
        </a>
        <div class="minihr"></div>

        <a href="#">
            <img src="images/pic-small3.jpg"/>
            <span class="spannews">مصاحبه های اختصاصی با موفق ترین استارت آپ ها</span>
        </a>
        <div class="minihr"></div>

        <a href="#">
            <img src="images/pic-small4.jpg"/>
            <span class="spannews">معرفی برترین برند های گوشی جهان</span>
        </a>
        <div class="minihr"></div>

        <a href="#">
            <img src="images/pic-small5.jpg"/>
            <span class="spannews">آشنایی با بزرگ ترین فروشگاه داران جهان</span>
        </a>
    </div>
</div>